body {
  padding-bottom: 80px;
}

.status > div {
  display: inline-block;
  vertical-align: middle;
}

.status .avatar {
  padding: 5px;
}


.movement {
  font-weight: bold;
  color: green;
}

.negative .movement {
  color: red;
}

.negative-arrow {
  visibility: hidden;
  display: none;
}

.negative .negative-arrow {
  visibility: visible;
  display: inline-block;
}

.negative .positive-arrow {
  visibility: hidden;
  display: none;
}

#daily-performance {
  padding: 5px 20px;
}

#daily-performance .performance {
  display: inline-block;
  width: 20%;
}

#social-leaderboard {
  -webkit-border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px 5px 10px 10px;
  display: inline-block;
}

#social-leaderboard .position {
  font-size: 32px;
}

#social-leaderboard .first .position {
  font-weight: bold;
  color: #FFCC33;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #CC9933;
}

#portfolio .number {
  text-align: right;
}

.header-inline > * {
  display: inline;
}

.header-inline > h3 {
  margin-right: 20px;
}

#chart1 {
  margin-left: -36px;
}

#chart1 svg {
  height: 300px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}
