body {
	padding-top: 50px;
}

.starter-template {
	text-align: center;
  padding-top: 10px;
}

#signup-container {
  padding-bottom: 10px;
}

#email-signup {
	display: inline;
	width: 300px;
}

.form-group {
	margin-top: 10px;	
}

.form-group .btn {
	margin-left: 10px;
}

#signup-prompt {
	font-style: italic;
}

#right-col {
	margin-top: 40px;
}
