.starter-template {
	text-align: center;
	padding-top: 10px;
}

#signup-container {
	padding-bottom: 10px;
}

#email-signup {
	display: inline;
	width: 300px;
}

.form-group {
	margin-top: 10px;
}

.form-group .btn {
	margin-left: 10px;
}

#signup-prompt {
	font-style: italic;
}

#right-col {
	margin-top: 40px;
}

.progress.progress-striped {
	height: 35px;
}

.percent {
	width: auto;
	font-size: 18pt;
}

.carousel .carousel-control.left, .carousel .carousel-control.right {
	background-image: none;
	background-color: white;
	opacity: 1;
	width: 50px;
	color: black;
}

.carousel {
	padding: 30px;
}

.carousel-inner, .carousel, .item {
	height: 450px;
}

.item .list-group, .input-group {
	box-shadow: none;
	margin-top: 30px;
}

.list-group-item, .input-group {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.btn-submit {
	width: 400px;
	margin-top: 20px;
}

.status {
	font-size: 20pt;
	border: 0px;
}

#money-add {
	position: absolute;
	left: 45%;
	top: 80%;
	font-size: 40pt;
	display: none;
	color: blue;
	z-index: 10;
}

.subtitle {
	margin-top: 0px;
}
