.navbar-brand {
	margin: 0px;
	padding: 10px;
}

.navbar {
	background-color: #cccccc;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	border: none;
}

.navbar a {
	color: black;
}

body {
	padding-top: 60px;
}

body, input, button, select, textarea, .navbar-search .search-query, h1, h2, h3, h4 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.message-404 > h2 {
  line-height: 1.8;
}
