{% extends "base.html" %}

{% block scripts %}
  <script src="/js/dashboard.js"></script>
  <script src="/js/stream_layers.js"></script>
  <script src="/js/d3.v3.min.js"></script>
  <script src="/js/nv.d3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="/css/nv.d3.css">
{% endblock %}

{% block content %}
<script type="text/html" id="t-leaderboard-entry">
  <div class="status" data-bind="css: {'negative': isNegative, 'first': $index()== 0, 'second': $index() == 1, 'third': $index() == 2}">
    <div class="position" data-bind="text: $index() + 1"></div>
    <div class="avatar">
      <img height="45" width="45" src="/images/blank.gif" data-bind="attr: {src: avatar}"/>
    </div>
    <div>
      <div>
        <span class="name" data-bind="text: name">name</span>
      </div>
      <div>
        <span class="positive-arrow movement">&#x25B2;</span>
        <span class="negative-arrow movement">&#x25BC;</span>
        <span class="movement" data-bind="text: lastDayMovement">yesterday</span>
        <span class="assets" data-bind="text: totalAssets">total assets</span>
      </div>
  </div>
</script>

<script type="text/html" id="t-daily-performance">
  <div class="performance" data-bind="css: {'negative': isNegative}">
    <div>
      <span data-bind="text: name">name</span>
    </div>
    <div>
      <span class="positive-arrow movement">&#x25B2;</span>
      <span class="negative-arrow movement">&#x25BC;</span>
      <span class="movement" data-bind="text: change">change</span>
      <span data-bind="text: symbol">symbol</span>
    </div>
  </div>
</script>
<h2>My Exchange</h2>
<div class="row">
  <div id="daily-performance" data-bind="template: {foreach: performance, name: 't-daily-performance'}">
  </div>
</div>

<div class="row">
  <div>
    <div id="chart" class='with-3d-shadow with-transitions'>
      <svg style="height: 250px;"></svg>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>My Portfolio</h3> 
    <table id="portfolio" class="table">
      <thead>
        <th>Symbol</th>
        <th>Company</th>
        <th class="number">Balance</th>
        <th class="number">Quantity</th>
        <th class="number">Price</th>
        <th class="number">%</th>
        <th></th>
      </thead>
      <tbody data-bind="foreach: portfolio">
        <tr>
          <td data-bind="text: symbol"></td>
          <td data-bind="text: name"></td>
          <td class="number" data-bind="text: '$' + totalValue()"></td>
          <td class="number" data-bind="text: quantity"></td>
          <td class="number" data-bind="text: value"></td>
          <td class="number" data-bind="text: percentPortfolio() + '%'"></td>
          <td><button class="btn-danger">Sell</button></td>
        </tr>
      </tbody>
    </table>
    <a href="/user/jimmy/research">Go research and buy</a>
  </div>
  <div class="social col-md-4">
    <h3>My Friends</h3>
    <div id="social-leaderboard" data-bind="template: {foreach: friends, name: 't-leaderboard-entry'}">
    </div>
  </div>
</div>



<script type="text/javascript">
	$("#nav3").addClass("active");
</script>
{% endblock %}
{% block name %}Market{% endblock %}
