{% extends "base.html" %}
{% block content %}
<script type="text/javascript">$("#nav1").addClass("active");</script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<div id="signup-container">
	<div>
		<img src="/images/tradeninjaofficial.png" alt=""/>
		<h3>Simply taught, important to know</h3>
	</div>
	<p class="lead">
		<span id="signup-prompt">Sign up to receive an invitation when we launch.</span>
		<br />
		<span id="example">In the meantime, feel free to browse our example interface.</span>
		<div class="form-group" id="signup-form">
			<input type="text" placeholder="Email" id="email-signup" class="form-control" name="email" />
			<button class="btn btn-default btn-signup">
				Sign up
			</button>
		</div>
	</p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>About Us</h2>
		<p>
			At Trade Ninja, we are truly passionate about early financial education. Founded in 2013, we specialize in investing and financial literacy education for teens and young adults. Too few high school curriculum include effective learning material that will get core financial concepts to stick with most teens. So we partnered with educators and game developers to create the first interactive online investment course for teens, Trade Ninja.
			<br />
			<br />
			Feel free to contact us via email at onehourinvestor@gmail.com
		</p>
	</div>
	<div class="col-lg-4">
		<h2>Market Exchange</h2>
		<p>
			<img height="240" width="339" src="/images/screenie.png" alt="" class="screenie-col"/>
		</p>
	</div>
	<div class="col-lg-4">
		<h2>Our Products</h2>
		<p>
			Trade Ninja is online financial education tool for teens and young adults. It incorporates interactive learning sessions, action/reward activities, and a portfolio simulation tool.
			<br />
			<br />
			Our Educational version also allows class teachers to keep track of student progress and implement learning activities through the application. Trade Ninja is designed to keep young adults engaged and interested and is guaranteed to give everyone the tools they need to be intelligent investors in the future.
		</p>
	</div>
</div>
{% endblock %}

{% block name %}Home{% endblock %}