{% extends "base.html" %}
{% block content %}
<div class="starter-template">
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
			<span class="percent">10%</span>
		</div>
	</div>
	<h1>Level 1: Why Invest?</h1>
	<div id="video1">
		<iframe width="640" height="360" src="http://www.youtube.com/embed/pSzTgHH36RY?autohide=1&showinfo=0&controls=0&rel=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<p></p>
</div>

<script type="text/javascript">
   $("#nav2").addClass("active");
</script>
{% endblock %}