{% block script %}
<link rel="stylesheet" type="text/css" href="/css/lesson.css">
<script src="/js/lesson.js"></script>
{% endblock %}
{% extends "base.html" %}
{% block content %}
<div class="starter-template">
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%">
			<span class="percent">25%</span>
		</div>
	</div>
	<h1>Level 1: Why Invest?</h1>
	<div id="carousel-example-generic" class="carousel slide" data-interval="false" data-wrap="false">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active page1">
				<div id="video1">
					<iframe width="640" height="360" src="http://www.youtube.com/embed/pSzTgHH36RY?autohide=1&showinfo=0&controls=0&rel=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="item page2">
				<h2 class="subtitle">Quiz question</h2>
				<h3>Which is NOT a disadvantage of saving money in a bank account?</h3>
				<ul class="list-group">
					<a href="javascript:;" class="list-group-item picture"><img src="/images/downarrow.png" alt="" class="icon"/>They have low interest rates</a>
					<a href="javascript:;" class="list-group-item picture"><img src="/images/emptyjar.png" alt="" class="icon"/>There is usually a minimum balance</a>
					<a href="javascript:;" class="list-group-item picture correct"><img src="/images/alerticon.png" alt="" class="icon"/>There is a high risk you'll lose your money</a>
				</ul>
				<div class="answer-space">
					<br />
				</div>
				<button type="button" class="btn btn-success btn-submit">
					This is my final answer.
				</button>
			</div>
			<div class="item page3">
				<h2 class="subtitle">Quiz question</h2>
				<h3>What is an index fund?</h3>
				<ul class="list-group">
					<a href="javascript:;" class="list-group-item correct">A mutual fund that tracks a stock index</a>
					<a href="javascript:;" class="list-group-item">An index that tracks funds</a>
					<a href="javascript:;" class="list-group-item">A company that does your taxes for you</a>
					<a href="javascript:;" class="list-group-item">An ETF</a>
				</ul>
				<div class="answer-space">
					<br />
				</div>
				<button type="button" class="btn btn-success btn-submit">
					This is my final answer.
				</button>
			</div>
			<div class="item page4">
				<h2 class="subtitle">Research question</h2>
				<h3>How much did tech giant Google open on NASDAQ this morning?</h3>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="text" class="form-control" id="googleq">
					<span class="input-group-btn">
						<button class="btn btn-default btn-check" type="button">
							Check!
						</button> </span>
				</div>
				<br />
				<div class="answer-space">
					<br />
				</div>
			</div>
			<div class="item page5">
				<h2 class="subtitle">Level Completed!</h2>
				<h3>Head towards the Market to apply what you've learned in a real life scenario!</h3>
				<br />
				<a href="/user/jimmy" class="btn btn-success btn-redirect">Go to Market <span class="glyphicon glyphicon-share-alt"></span></a>
			</div>
		</div>

		<!-- Indicators
		<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		-->

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
	</div>
	<div class="status alert alert-info"></div>
	<div id="money-add"></div>
</div>

<script type="text/javascript">$("#nav2").addClass("active");</script>
{% endblock %}

{% block name %}Lessons{% endblock %}
